body {
  /*background-color: #ee6e73;*/
  color: azure;
  font-family: 'Advent Pro', sans-serif;
  font-weight: thin;
}
.header {
  color: rgb(69, 66, 67);
}
.row {
  width:100%;
}
h1 {
  font-size: 2em;
}
h2 {
  font-weight: 200;
}
img {
  margin:0 auto;
}
.menu {
  margin-top: 5%;
}
iframe {
  width: 100%;
  height: 100%;
}
element.style {
  top: 5%;
}
#subtitle {
  font-size:.6em;
}
#modal1 {
  width:55.3%;
  max-height: 90%;
  height:90%;
  bottom: 10%;
}
#modal2 {
  width: 400px;
}

#modal2 img {
  width: 100%;

}
#oldlady {
  color:rgba(255,255,255,0.8);
}
.modal-content {
  width:100%;
  height: 100%;
}
.btn-flat {
  color: black;
}
.btn-flat:hover {
  color: #26a69a;
}
a {
  color:black;
}
a:hover {
  color:#26a69a;
}
.dropdown-content li>a {
  color:black;
}
.dropdown-content li>a:hover {
  color:#26a69a;
}
.slider .slides {
  background-color: rgb(69, 66, 67);
}
.fullscreen {
  background-color: black;
}
.slider .slides li img{
  background: no-repeat;
  background-size:contain;
  background-position: center;
}
.slider .slides li .caption {
  top: 75%;
  text-shadow: -2px 0 black, 0 1px black, 0px 0 black, 0 -1px black;
  font-weight: normal;
}
footer.page-footer {
  margin-top:0%;
  padding-top:10px;
}
.social {
  display: inline;
}
.social-list {
  margin-bottom:0;
}
.footer-copyright {
  text-align: left;
  font-size: .9em;
  height:20px;
}
.container {
  margin: 0 auto;
  font-size: .8em;
  width:90%;
}
.section {
  background-color: gainsboro;
}
.social>a>img:hover {
  background-color: #26a69a;
}
.social>a>img {
  border-radius:15px;
}
.credit {
  float:right;
}

@media (max-width: 700px) {
  .parallax-container {
    height: 300px;
  }
  .social-list {
    text-align: center;
  }
  .social>a>img {
    height: 40px;
    width: 40px;
  }
}
